

   <div class="container">
    <div class="row">

       <div class="col-1"></div>

       <div class="application col-10 ">
         <form  [formGroup]="processForm">

              <div class="row">
                    <div class="col-md-5 form-group">

                              <label for="ProcessName"><strong>Name:</strong> </label>
                              <input type="text" class="form-control" formControlName="ProcessName" required>
                          </div>
                          <div class="col-md-2"></div>
                          <div class="col-md-5 form-group">
                                <label for="Vacancies"><strong>Vacancies</strong></label>
                                <input type="number" class="form-control" formControlName="Vacancies" required>
                            </div>

              </div>


              <div class="row">
                    <div class="col-md-5 form-group">
                        <label for="DesignationId"><strong> Designation:</strong> </label>
                        <select class="form-control" formControlName="DesignationId" required >
                          <option *ngFor="let designation of designations" [value]="designation.Id" >{{designation.Designation}}</option>
                      </select>
                    </div>

                  <div class="col-md-2"></div>

                    <div class="col-md-5 form-group">
                        <label for="CreatedBy"><strong> Created By:</strong> </label>
                        <input type="text"  formControlName="CreatedBy" class="form-control" [readonly]="true">
                        </div>
                </div>

                <div class="row">
                        <div class="col-md-5 form-group">

                                <label for="adDate"><strong>Adverticed Date:</strong> </label>
                                <input type="date" formControlName="adDate" class="form-control" required>
                        </div>
                        <div class="col-md-2 form-group">
                        </div>

                          <div class="col-md-5 form-group">
                            <label for="updatedBy"><strong> Update By:</strong> </label>
                            <input type="text"  formControlName="updatedBy" class="form-control" [readonly]="true">
                            </div>

                    </div>

                    <div class="row">
                            <div class="col-md-12 form-group">
                                    <label for="Comment"><strong> Comment:</strong></label>
                                    <textarea type="text" rows="3" cols="15" class="form-control"  formControlName="Comment" style="width: 850px;"></textarea>
                            </div>
                            <div class="col-md-0"></div>
                        </div>



                <div class="row">
                        <div class="col-md-5 "></div>
                        <div class="col-md-2 form-group">
                            <button type="button" class="btn btn-outline-success" (click)="updateProcess()">Submit</button>
                        </div>
                        <div class="col-md-5"></div>
                    </div>



         </form>


       </div>


       <div class="col-1"></div>



   </div>
