<!-- <script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script> -->
<div class="jumbotron">
  <div class="form-group has-success">
    <!-- <label class="form-control-label" for="inputSuccess1">Valid input</label> -->
    <input type="text" placeholder="search" class="form-control is-valid roundButton" id="inputValid">
    <!-- <div class="valid-feedback">Success! You've done it.</div> -->
  </div>

  <div>
    <!-- <p>Details</p> -->
  </div>

  <table class="table table-hover table-active">
    <thead>
      <tr>
        <th scope="col">Process Name</th>
        <th scope="col">Designation</th>
        <th scope="col">Advertised Date</th>
        <th scope="col">NoOf Vacancy</th>
        <th scope="col">Action</th>


      </tr>
    </thead>
    <tbody>


      <tr class="table-light" *ngFor="let process of processes">
        <!-- <td  routerLink="/view-process/{{process.ProcessName}}" >{{process.ProcessName}}</td> -->
        <td><button (click)="setvalue(process)"> {{process.ProcessName}}</button></td>
        <td>{{process.Designation}}</td>
        <td>{{process.AdDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{process.Vacancies}}</td>
        <td><button type="button" class="btn btn-warning roundButton" routerLink="/edit-process/{{process.ProcessId}}">Edit</button>
          <button type="button" class="btn btn-danger roundButton" style="margin-left:5px;" data-toggle="modal" data-target="#exampleModalCenter">Delete</button>
        </td>
      </tr>

    </tbody>
  </table>


</div>



<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
