@-webkit-keyframes start {
  0% {
    -webkit-transform: translateX(200px);
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1
  }
}

@keyframes start {
  0% {
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
  }
}