<div *ngIf="isEvent">
  <table>
    <thead>
      <th>Exam Name</th>
      <th>Exam Date</th>
      <th>Duration</th>
      <th>Created By</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let exam of exams">
        <td >{{exam.ExamName}}</td>
        <td>{{setDate(exam.ExamDate)}}</td>
        <td>{{exam.Duration}}</td>
        <td>{{exam.created}}</td>
        <td><button (click)="getExamEvent(exam.ExamId)">View</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <p>No Exam Event were found</p>
</div>
