<!-- <app-mcq-exam></app-mcq-exam> -->
<!-- <app-essay-exam></app-essay-exam> -->

<!-- <app-all-exam-event></app-all-exam-event> -->
<!-- <app-view-exam-event></app-view-exam-event> -->
<!-- <app-evaluate-exam></app-evaluate-exam> -->

<!-- <app-employee-exam></app-employee-exam> -->
<!-- <app-exam-submit-page></app-exam-submit-page> -->


<header class="menu">
    <div class="container">
        <a href="" class="logo">
            <img src="assets/images/logo.png" />
        </a>
        <ul class="navigation">
            <li class="ic-separation ic-separation-right" title="Back To Home"><a href="/"><span class="icon-home"></span></a></li>
        </ul>

    </div>
</header>
<div class="content">
    <router-outlet></router-outlet>
</div>


